.main {
  flex: 1;
  min-height: 100vh;
  padding-bottom: 15vh;
  position: relative;
}
.main .nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 18px;
  background-color: #efefef;
  color: #585858;
  border-bottom: 2px solid #d5e4fd;
}
.main .nav .logo {
  display: flex;
  gap: 10px;
    cursor: pointer;
    position: relative;
}
.main .nav .logo span::before {
    content: "";
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 0%;
    border-radius: 10px;
    height: 5px;
    background-color: salmon;
    transition: all 0.3s ease;
}
.main .nav .logo span::after {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 0%;
    border-radius: 10px;
    height: 4px;
    background-color: salmon;
    transition: all 0.3s ease;
}
.main .nav .logo span:hover::before {
  transition: all 0.3s ease;
  width: 100%;
}
.main .nav .logo span:hover::after {
  transition: all 0.3s ease;
  width: 50%;
}
.main .nav .nav-left{
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    gap: 10px;
    margin-right: 10px;
}
.main .nav .nav-left p{
    font-size: 18px;
    cursor: pointer;
    padding: 10px 5px;
    transition: all .3s ease-in-out;
  }
.main .nav .nav-left p:nth-child(1){
    padding: 6px 14px;
    border: 1px solid transparent;
  }
  .main .nav .nav-left p:nth-child(1):hover{
    border-radius: 10px;
    border: 1px solid rgb(140, 222, 222); 
    background-color: #fff;
    color: rgb(14, 176, 176);
    text-decoration: underline;
    scale: 1.06;
  }
.main .nav .nav-right .userImg{
    display: flex;
    position: relative;
}
.main .nav .nav-left .userImg img {
    width: 40px;
    border-radius: 50%;
    cursor: pointer;
    position: relative;
}

.main-container {
  max-width: 900px;
  margin: auto;
}
.main .greet {
  margin:30px 0px 20px 0px;
  font-size: 56px;
  color: #c4c7c5;
  font-weight: 500;
  padding: 20px;
}

.main .greet span {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.main .cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  gap: 20px;
  padding: 20px;
}

.main .cards .card {
  height: 170px;
  padding: 15px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
  transition: all .3s ease-in-out;
  border: 2px solid #f0f4f9;
}
.main .cards .card .icon{
  font-size: 30px;
    padding: 5px;
    width: 50px;
    height: 50px;
    background-color: rgb(55, 196, 243);
    color: white;
    position: absolute;
    border-radius: 50%;
    bottom: 10px;
    left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s ease-in-out;
}

.main .cards .card p {
    color: #585858;
    font-size: 17px;
}
.main .cards .card:hover{
    transition: all 0.3s ease;
    background-color: #dfe4ea;
    border: 2px solid #95bbf7;
    box-shadow: 0 0 15px #95bbf7;
    transform: scale(1.02);
    transition: all .3s ease-in-out;
}
.main .cards .card:hover .icon{
  background: salmon;
  transition: all .3s ease-in-out;
}


.main-bottom {
  position: absolute;
  bottom: 0;
  width: 100%;
  max-width: 900px;
  padding: 0px 20px;
  margin: auto;
  margin-top: 30px;
  height: fit-content;
}

.search-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  background-color: #f0f4f9;
  padding: 10px 20px;
  border-radius: 50px;
}

.search-box img{
    width: 24px;
    cursor: pointer;
}

.search-box input{
    flex: 1;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 7px;
    border-radius: 50px;
    font-size: 18px;
    padding-left: 15px;
}

.search-box div{
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .bottom-info{
    font-size: 13px;
    margin: 15px auto;
    text-align: center;
    font-weight: 300;
}

.main .footer{
  padding: 10px 0 15px 0;
  border-top:2px solid #ddd ;
  text-align: center;
  font-weight: 500;
  color: #333333;
}
.result
{
  padding: 0px 5%;
  max-height: 70vh;
  overflow-y: scroll;
}

.result::-webkit-scrollbar{
  display: none;
}

.result-title{
  margin: 40px 0;
  display: flex;
  align-items: center;
  gap: 30px;
}
.result-title p{
 text-transform:capitalize;
 font-size: 20px;
 font-weight: 600;
}
.result img{
  width: 40px;
  border-radius: 50%;
}

.result-data{
  display: flex;
  align-items: start;
  gap: 30px;
}

.loader{
  width: 100%;
  display: flex;
  flex-direction: column;
gap: 10px;
}
.loader hr{
  border-radius: 4px;
  border: none;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9ed7ff,#ffffff,#9ed7ff);
  background-size: 800px 50px;
  height: 20px;
  animation: loader 3s infinite linear;  
}

@keyframes loader {
  0%{
    background-position: -800px 0px;
  }
  100%{
    background-position: 800px 0px;
  }
}

.result-data p{
  font-size: 17px;
  font-weight: 300;
  line-height: 1.5;
}

@media (max-width:600px){
  .main .cards .card:nth-last-child(1),
  .main .cards .card:nth-last-child(2){
    display: none;
  }
  .main-bottom input{
    flex: none;
    width: 150px;
  }
  .main-bottom img{
    width: 20px;
  }
  .search-box{
    padding: 5px 10px;
  }
  .search-box{
    padding: 5px 10px;
  }
  .search-box{
    gap: 5px;
  }
}
@media (max-width:425px) {
  .main .cards .card:nth-last-child(3),
  .main .cards .card:nth-last-child(4){
    display: none;
  }
}