.sidebar{
    min-height: 100vh;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #f0f0f0;
    padding: 25px 15px;
    border-right: 2px solid #d5e4fd;
}


.sidebar img{
    width: 30px;
}

.sidebar .menu{
    display: block;
    margin: 10px;
    cursor: pointer;
    background-color: #dadfe7;
    padding: 8px;
    width: 35px;
    border-radius: 5px;
    transition: all .2s ease-in-out;
}
.sidebar .menu:hover,
.sidebar .new-chat:hover{
    transition: all .2s ease-in-out;
    background-color: #c3c8cf;
    scale: 1.1 ;
}


.sidebar .new-chat{
    margin: auto;
    margin-top: 30px;
    display: inline-flex;
    align-items: center;
    gap: 10px;
    padding: 8px 13px;
    border-radius: 50px;
    background-color: #e6eaf1;
    font-size:14px ;
    color: gray;
    cursor: pointer;
}
.sidebar .new-chat img{
    width: 20px;
}

.sidebar .recent{
    display: flex;
    flex-direction: column;
    max-height: 70vh;
    overflow-y: scroll;
    animation: fadeIn 1s ease-in;
}
.sidebar .recent::-webkit-scrollbar{
    display: none;
  }
.sidebar .recent-title{
    margin-top: 30px;
    margin-bottom: 20px;
}

.sidebar .recent-entry{
    display: flex;
    align-items:center;
    gap: 10px;
    padding: 10px;
    padding-right: 40px;
    border-radius: 50px;
    color: #282828;
    cursor: pointer;
}
.sidebar .recent-entry:hover{
    background-color: #cfd2d6;
    scale: 1.06;
}

.sidebar .bottom{
    display: flex;
    flex-direction: column;
}
.sidebar .bottom-item{
    padding-right:10px;
    cursor: pointer;
}

@media (max-width:600px){
    .sidebar{
        display: none;
    }
}